@import "../Vars.scss";

.headernav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $spacer-3 $padding 1px $padding;
    background-color: $gray-4;
    opacity: 0.95;
    height: $height-3;
}

.headernav__brand{
    display: flex;
    color: $gray-3;
    position: relative;
    top: $spacer-3;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    border-radius: $spacer-4;
    padding: $spacer-2 $spacer-3;
    p{
        margin: 0px;
    }
    .headernav__brand--title{
        font-size: 26px;
        
    }
    .headernav__brand--subtitle{
        font-size: 16px;
    }
}



.headernav__nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    border-bottom: 1px solid black;
    width: available;
    ul{
        display: flex;
        margin-bottom: 0px;
        padding: 0px;
        align-items: flex-end;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $gray-1;
                font-weight: 550;
                padding: 0px 4vw;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        .line{
            height: 1rem;
            width: 1px;
            background-color: black;
        }
    }
}